

<div class="application-container">
  <header>
      <div class="header-container">
                <div>Application Header</div>
                <div>Menu Bar</div>
      </div>
  </header>

  <aside class="sidebar-left">
    gutter
  </aside>

  <article>
    <div id="app-container">
         Article
        <br>
        <p>here is some important stuff</p>
        <h2>Hello Dolly</h2>
        <p>Here is some more <strong>very important</strong> stuff</p>

    </div>
  </article>

  <aside class="sidebar-right">
    gutter
  </aside>

  <footer>
    Footer
  </footer>
</div>



<router-outlet></router-outlet>
